.main-login {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-login h1 {
  text-align: center;
}

.login-alert {
  text-transform: capitalize;
}

.show-alert {
  display: block;
}

.hide-alert {
  display: none;
}

@media screen and (max-width: 991px) {
  .container-login {
    width: 80%;
  }
}
