<div class="main-register">
  <div class="container-register col-5">
    <div class="container">
      <h1 class="mb-5 text-primary">Register</h1>
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            #email
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="userName"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            #password
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Confirm Password</label
          >
          <input
            #confirmPassword
            type="password"
            class="form-control"
            id="exampleInputPassword2"
          />
        </div>
        <div #alert class="mb-3 form-text register-alert hide-alert">
          this is an alert
        </div>
        <button type="submit" class="btn btn-primary" (click)="register()">
          Register
        </button>
      </form>
    </div>
  </div>
</div>
